{% extends 'base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/caves/cave-index.css' %}" />
{% endblock %}

{% block content %}
  <section>
    <h1>Cave List</h1>
  </section>

  <section class="card-container">
    {% for cave in cave_list %}
      <div class="card">
        <a href="{% url 'cave-detail' cave.id %}">
          <div class="card-content">
            <div class="image-container">
              {% if cave.photo_set.all.0 %}
                {% with photo=cave.photo_set.all.0 %}
                  <img src="{{ photo.url }}" alt="image of this cave" class="cave-image" />
                {% endwith %}
              {% else %}
                <img src="{% static 'images/bear-cave.png' %}" alt="A bear in a cave" class="cave-image" />
              {% endif %}
            </div>
            <div class="description-container">
              <h2 class="card-title">{{ cave.name }}</h2>
              <p>
                <small>${{ cave.rate }}</small>
              </p>
              <p>
                <small>{{ cave.address }}, {{ cave.city }} {{ cave.state }}</small>
              </p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>
{% endblock %}
