{% extends 'base.html' %}

{% load static %}

{% block head %}
  <link href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/mcdp.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/caves/cave-detail.css' %}" />
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
  <script defer src="{% static 'js/slideshow.js' %}"></script>
  <script defer src="{% static 'js/mcdp.js' %}"></script>
{% endblock %}

{% block content %}
  {% if user.id == cave.owner.id %}
    <div class="page-header">
      <a href="{% url 'cave-update' cave.id %}"><button>Edit</button></a>
      <a href="{% url 'cave-delete' cave.id %}"><button>Delete</button></a>
    </div>
  {% endif %}
  <div class="slideshow-container">
    {% for photo in cave.photo_set.all %}
      <div class="slide fade">
        <img src="{{ photo.url }}" alt="an image of this cave" class="cave-image" />
      </div>
    {% empty %}
      <div class="slide fade">
        <img src="{% static 'images/bear-cave.png' %}" alt="A bear in a cave" class="cave-image" />
      </div>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <div class="details">
    <div class="info">
      <h2>{{ cave.name }}</h2>
      <p>{{ cave.address }}, {{ cave.city }} {{ cave.state }} {{ cave.zipcode }}</p>
      <p>
        sleeps {{ cave.sleeps }}, $<span id="rate">{{ cave.rate }}</span>/night
      </p>
      <br /><br />
      <p>{{ cave.description }}</p>
      <br /><br />
      <p>
        Hosted by <a href="{% url 'profile' cave.owner.id %}">{{ cave.owner.username }}</a>
      </p>
    </div>
    <div class="book">
      <h2>Book a Hibernation:</h2>
      <form action="" method="post" class="form-container">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <p>
          price: $<span id="price"></span>
        </p>
        <button type="submit" class="btn submit">Submit!</button>
      </form>
    </div>
  </div>
{% endblock %}
