{% extends 'base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
  <div class="page-header">
    {% if cave %}
      <h1>edit {{ cave.name }}</h1>
      <p>location: {{ cave.address }}, {{ cave.city }} {{ cave.state }} {{ cave.zipcode }}</p>
    {% else %}
      <h1>Add a Cave</h1>
    {% endif %}
  </div>

  <form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>
  <hr>
  <form action="{% url 'add-photo' cave.id %}" enctype="multipart/form-data" method="POST" class="">
    {% csrf_token %}
    <label class="custom-file-upload"><input type="file" name="photo-file" id="file-upload" />File Upload</label>
    <p id="uploaded-file-name"></p>
    <br />
    <br />
    <input type="submit" class="btn" value="Upload Photo" />
  </form>
{% endblock %}
