{% extends 'base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/caves/cave-index.css' %}" />
{% endblock %}

{% block content %}
  <section>
    <h1>Cave List</h1>
  </section>

  <section>
    {% for cave in cave_list %}
      <div class="card">
        <a href="{% url 'home' %}">
          <div class="card-content">
            <div class="image-container">
              {% comment %} <img src="" alt="" /> {% endcomment %}
            </div>
            <h2 class="card-title">{{ cave.name }}</h2>
            <p>
              <small>{{ cave.description }}</small>
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
  </section>
{% endblock %}
