input[name="nights"]:focus {
    background-color: lightcyan;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 60vw;
    aspect-ratio: 3/2;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    display: none;
    height: 100%;
}

.slide > img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.prev,
.next {
    cursor: url('../../images/paw.png');
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}