.card-container {
    padding: 20px 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 224px;
    aspect-ratio: 0.8/1;
    margin: 10px;
    border: solid 1px var(--brown);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(.23, 1, .32, 1);
}

.card-content {
    padding: 5px;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 75% 25%;
}

.description-container {
    grid-row: 2 / span 1;
    padding: 0 10px;
    text-transform: capitalize;
}

.image-container {
    grid-row: 1 / span 1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-container img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.card>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
}

.card h2 {
    margin: 7px 0;
    font-size: var(--font-xl);
}

.card p {
    margin: 0;
    font-size: var(--font-reg);
}

.page-header>img {
    margin-left: 10px;
}

.page-header>img:first-of-type {
    margin-left: 15px;
}
