{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/paw.png' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
    <title>BearBnB</title>
    {% block head %}

    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <img src="{% static 'images/paw.png' %}" alt="A bear paw" />
        <h1>BearBnB</h1>
        {% if user.is_authenticated %}
          <a href="{% url 'cave-index' %}">Caves</a>
          <a href="{% url 'cave-create' %}">Add Cave</a>
          <a href="{% url 'about' %}">About</a>
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
          </form>
        {% else %}
          <a href="{% url 'about' %}">About</a>
          <a href="{% url 'signup' %}">Sign Up</a>
          <a href="{% url 'home' %}">Login</a>
          {% comment %} <a href="{% url 'signup' %}">Sign Up</a> {% endcomment %}
        {% endif %}
      </nav>
      <hr />
    </header>
    <main>
      {% block content %}

      {% endblock %}
    </main>
  </body>
</html>
