* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --size1: 2.875rem;
    --bg1: #484848;
    --white: #EEEEEE;
    --dkbrwn: #4A3C34;
    --brown: #6c584c;
    --tan: #a98467;
    --green: #adc178;
    --ltgrn: #dde5b6;
    --cream: #f0ead2;
    --card-box-shadow: 5px 5px 6px -1px #aaa;
    font-family: "Maven Pro", sans-serif;
    font-weight: bold;
    background-color: var(--cream);
}

header {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 20px;
}

nav {
    width: 100vw;
    padding: 10px;
    background-color: var(--cream);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 5px var(--brown);
}

nav>* {
    text-decoration: none;
    color: var(--dkbrwn);
    font-weight: 600;
}

button,
input[type="submit"],
nav a:not(:nth-child(2)) {
    flex-shrink: 0;
    width: calc(var(--size1) * 2);
    height: var(--size1);
    border-radius: calc(var(--size1) / 2);
    text-align: center;
    line-height: var(--size1);
    background-color: var(--brown);
    color: var(--white);
    font-family: "Maven Pro", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

form button {
    margin: 5px auto;
}

button:hover,
nav a:not(:nth-child(2)):hover {
    background-color: var(--bg1);
}

body:hover {
    cursor: url('../images/pointer.png'), auto;
}

a:hover,
button:hover,
input:hover,
input,
#id_start_date {
    cursor: url('../images/paw.png'), auto;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: url('../images/paw.png'), auto;
    background-color: antiquewhite;
    display: inline-block;
}

.cave-image {
    max-width: 100%;
}

.page-header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}

.page-header > p {
    text-transform: capitalize;
}

.profile {
    padding: 5px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.profile > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.profile a {
    text-decoration: none;
    color: black;
}

.profile a:hover {
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: var(--size1);
    left: var(--size1);
}

main > p,
main > form {
    margin: 0 10vw;
}