html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    --text-color: rgb(17, 20, 17);
    --link-hover-color: rgb(16, 56, 158);
}

nav {
    margin: 10px;
}

ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 16px;
}

nav a:hover {
    color: var(--link-hover-color);
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    padding: 5px 8px;
}