* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --size1: 2.875rem;
    --text-color: rgb(17, 20, 17);
    --link-hover-color: rgb(16, 56, 158);
    --bg1: #484848;
    --white: #EEEEEE;
    --dkbrwn: #4A3C34;
    --brown: #6c584c;
    --tan: #a98467;
    --green: #adc178;
    --ltgrn: #dde5b6;
    --cream: #f0ead2;
    --card-box-shadow: 5px 5px 6px -1px #aaa;
    font-family: Montserrat;
    background-color: var(--cream);
}

header {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 2;
    margin-bottom: 20px;
}

nav {
    width: 100vw;
    padding: 10px;
    background-color: var(--cream);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

nav>* {
    text-decoration: none;
    color: var(--dkbrwn);
    font-weight: 600;
}

nav button {
    flex-shrink: 0;
    width: calc(var(--size1) * 2);
    height: var(--size1);
    border-radius: calc(var(--size1) / 2);

    background-color: var(--bg1);
    color: var(--white);
}

body:hover {
    cursor: url('../images/pointer.png'), auto;
}

a:hover,
button:hover,
input:hover,
form input {
    cursor: url('../images/paw.png'), auto;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    padding: 6px 12px;
    border: 1px solid #ccc;
    cursor: url('../images/paw.png'), auto;
    background-color: antiquewhite;
    display: inline-block;
}

.cave-image {
    max-width: 100%;
}
